<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Happy+Monkey&family=Pacifico&family=Yeseva+One&display=swap" rel="stylesheet">

    <title>RACS</title>
</head>

<div class='top1'>
    <a href="{{ url_for('login') }}" class='button'>Logout</a>
</div>

<div class='head1'>
    <p>Cafe L'Amour</p>
</div>

<body>
    <center>
        <h3> Welcome {{ u }} </h3>
        <p>
            The reviews are stored and ready for Analysis
        </p>
        <br><br>
        <form action="{{ url_for('code') }}">
            <input type = 'submit' value='Analyze'>
        </form>   
    </center>   
</body>
  