<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
        <link href="https://fonts.googleapis.com/css2?family=Happy+Monkey&family=Pacifico&family=Yeseva+One&display=swap" rel="stylesheet">

        <title>RACS</title>
    </head>

    <div class='top1'>
        <a href="{{ url_for('code') }}" class='button'>Back</a>
    </div>
    
    <div class='head1'>
        <p>Cafe L'Amour</p>
    </div>
    
    <body>
        <center>
        <img id='pie' src='static/img/res.png' height='450' width='650' style="border-radius: 40px; border:none;">
        </center>
    </body>
</html>